<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:label="attitudeTally"
        android:icon="@mipmap/ic_launcher">

        <!-- Your activities, services, etc. go here -->

    </application>

</manifest>
